/* Fond d'écran global */
body {
  margin: 0;
  background: url("fond.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* Fond par onglet */
#tab-accueil {
  min-height: 85vh;
  padding: 20px;
  background: url("open.jpg") no-repeat center center;
  background-size: cover;
}

#tab-supervision {
  min-height: 85vh;
  padding: 20px;
  background: url("fond1.jpg") no-repeat center center;
  background-size: cover;
}

#tab-au-revoir {
  min-height: 85vh;
  padding: 20px;
  background: url("bye.jpg") no-repeat center center;
  background-size: cover;
}

/* Lisibilité du texte (optionnel) */
#tab-accueil, #tab-supervision, #tab-au-revoir {
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.45);
}
